/* flx1 top animation */
#flx1{text-align: center;  background-color: black; height: 30px; }
#carat {
  color: white;
  width: 100%;
  height: auto;
  background-color: black;
  font-weight: bold;
  position: absolute;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite ;
  animation-timing-function: linear;
}
#carat:hover{cursor: default;}
#home {
  color: white;
  width: 100%;
  height: auto;
  background-color: black;
  font-weight: bold;
  position: absolute;
  -webkit-animation: mymove1 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove1 5s infinite ;
  animation-timing-function: linear;
}
#home:hover{cursor: default;}
#home > center >a{color: palevioletred; text-decoration: none;}
@keyframes mymove {
   0%{right:0px; top:-50px;}
   50%{left:0px; top:-50px;}
   51%{left:0px; top:5px;}
   99%{left:0px; top:5px;}
   100%{left:0px; top:-120px}
}
@keyframes mymove1 {
   0%{right:0px; top:-120px;}
   5%{left:0px; top:5px;}
   50%{left:0px; top:5px;}
   51%{left:0px; top:-50px;}
   100%{left:0px; top:-50px;}
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
/* navbar */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #ffffffc4;
    border:none;
    box-shadow: 0 0 20px black;
    
  }
#myNavbar > ul > li > a{color: black; border-bottom: 3px solid transparent;}
#myNavbar > ul > li > a:hover{color: violet; border-bottom:3px solid purple;}

/* search button in navbar */
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid pink;
  border-radius: 15px;
  font-size: 14px;
  height: 30px;
  background-color: white;
  background-image: url('search.png');
  background-position: 10px 2px; 
  background-repeat: no-repeat;
  padding: 8px 20px 12px 48px;
  margin-top: 10px;
}
input:hover{cursor: pointer;}
input:focus
{
    outline: none;
}
 /* carousel css  */
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    max-height:500px;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}
#subscribe {background-color: rgb(36, 5, 36);height: 350px; color: white; font-family: 'Times New Roman', Times, serif;}
#subscribe > span{color: pink;font-size: 100px;}
#subscribe > form > #email{background-color: rgb(36, 5, 36);
    border:1.5px solid purple;
    border-right: 0px;
    padding: 10px 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
#subscribe > form > #submit{background-color: rgb(151, 85, 151);
  color: rgb(170, 159, 159);
  border:1.5px solid purple;
  border-left: 0px;
  padding: 10px 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#subscribe > p > a:hover{text-decoration:none;}
#label {
  float: center;
  width: 15%;
  margin-left: 30%;
}
#label1 {
   float: right;
   text-align: right;
   width: 10%;
   margin-right: 35%;
}
.container {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left:20px;
  cursor: pointer;
  font-size: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color:rgb(36, 5, 36);
  border-radius: 50%;
  border:1px solid purple;
}
/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(36, 5, 36);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: purple;
}
/* floating help button */
.float > #help{
  border-radius:50px;
  text-align:center;
  position:fixed;
	width:60px;
	height:30px;
	bottom:40px;
	right:40px;
  border: none;
  background-color: rgb(10, 10, 39);
  color: white;
  margin-top:22px;
  z-index: 50;
  font-size: small;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #ddcdd8;
  padding: 25px;
  height: 350px;
} 
footer > div > table > tbody > tr >td{color: rgb(138, 138, 158); text-align: left; font-size: 12px; padding: 5px 40px;}
footer > div > table > thead > tr >th{text-align: left; padding: 5px 40px;}
footer > .container > a{color: black; font-size: 11px; float: left;}
footer > .container > a:hover{text-decoration: none;}
footer > .container > img{width: 250px; height:30px; float:right; }
footer > .container > i{font-size:30px;color: rgb(207, 40, 207);float: left;padding-right: 20px; }